.locksmith-container {
  padding: 20px;
  text-align: center;
}

.locksmith-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.locksmith-table th,
.locksmith-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.locksmith-table th {
  background-color: #343434;
  color: white;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.approve-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.approve-btn:hover,
.remove-btn:hover {
  opacity: 0.8;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.switch.disabled-switch {
  opacity: 0.5;
  pointer-events: auto;
  cursor: not-allowed;
}
