.choose-service-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choose-service-container h2 {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 15px;
}


.custom-button {
  width: 50%; /* Adjust this value to your desired width */
  margin: 0 auto; /* Center the button */
  display: block; /* Ensure the button is treated as a block element */
}